@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #fd7228;
  --color-dark: #141e25;
  --color-light: #f2f3f5;
  --color-text: #2e2e2e;
  --color-subtle: #6b6e70;

  --font-sans: 'Outfit', sans-serif;
}
